@media (max-width: 768px) {
    html {
        font-size: 62.5%;
        position: relative;
    }
    .header-logo {
        width: 100%;
        background-color: #15B6E9;
        margin-bottom: 1.3rem;
    }
    .header-logo > h1 {
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        color: #fff;
        font-size: 3rem;
        text-align: center;
        width: 100%;
        height: 5.6rem;
        line-height: 5.6rem;

    }
    .header__logo-icon-menu {
        display: block;
        color: #fff  !important;
        position: absolute;
        top: -0.5rem;
        left: 1.4rem;
    }
    .bg-nav {
        display: none;
    }
    .content-right {
        border-left: none;
    }
    .responsive-text {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2.8rem;
        align-items: center;
        padding-top: 1.3rem;
        border-top: 1px solid #E8E7E7; 
    }
    .header-icon-responsive {
        display: block;
        position: absolute;
        top: 0;
        right: 0.5rem;
    }
    .responsive-text-right {
        font-size: 1.6rem;
        width: 12.6rem;
        height: 2.6rem;
        padding: 0.3rem 2.4rem;
        background-color: #E8E7E7;
        text-align: center;
        
    }
    .responsive-text-left {
        font-size: 1.6rem;
        width: 12.6rem;
        height: 2.6rem;
        padding: 0.3rem 0.8rem;
        background-color: #E8E7E7;
        text-align: center;

    }
    .header-wrapper {
        flex-direction: column;
        border-bottom: 1px solid #E8E7E7;
        padding-bottom: 1.3rem;
        margin: 0;
    }
    .img-notify-bell {
        position: absolute;
        top: 35%;
    }
    .header-logo {
        width: 100%;
        height: 5.6rem;

    }
    .header-search {
        display: none;
    }
    .container-content {
    }
    .content-title-responsive {
        flex-direction: column-reverse;
    }
    .content-title {
        display: flex;
        flex-direction: column;
        padding-top: 1.2rem !important;
    }
    .content-title-responsive  .content__title-text {
        font-size: 2rem;
        line-height: 2.6rem;
        font-family: 'Red Hat Display', sans-serif !important;
        width: 100%;
        text-align: center;
    }
    .content-title > h1 {
        font-size: 2rem ;

    }
    .content-title ul {
        padding-top: 2.8rem !important;
        font-weight: 500;
    }
    .content-title ul li {
        width: 100%;
        font-size: 1.6rem !important;
        justify-content: space-around;
    }
    .icon-next-right {
        display: block;
        width: 2rem;
        height: 2rem;
        float: right;
    }
    .content-text-1 > h2 {
        font-size: 1.6rem;
        line-height: 1.4;
        padding-right: 6rem;


    }
    .content-text-1 > .content-text-1-info {
        font-size: 1.4rem;
        font-weight: 30rem;
        line-height: 1.4;
        padding-top: 1rem;
    }
    .content-img-1 {
        width: 21.7rem;
        height: 21.7rem;
        padding-top: 0.2rem !important;
    }
    .content-text-1 {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1.8rem;
    }
    .container-content-right {
        display: none;
    }
    .col-img-1 {
        width: 50%;
    }
    .content-2-responsive-none {
        display: none;
    }
    .content-text-3 >h2 {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.4;
    }
    .content-text-3 > .content-text-3-info {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.4;
    }
    .content-2-btn {
        font-size: inherit;
    }
    .content-img-3 {
        width: 100%;
        height: 100%;
    }
    .content-text-3 {
        padding: 0.4rem 1rem;
    }
    .footer-text-left {
        display: none;
    }
    .footer {
        position: relative;
        display: flex;
        flex-direction: column;

    }
    .contact-address > p, .contact-address  > .contact-address-social {
        font-size: 1.8rem;
        line-height: 1.4;

    }
    .contact-address  > .contact-address-social {
        padding-right: 1.4rem;

    }
    .icon-social {
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
    }
    .footer .contact-social .contact-address-social {
        text-align: center;
        font-size: 2rem;
    }


}
@media (max-width: 1199.98px) { 
    .border-xl {
        border: none !important;
    }
    .header-logo > h1 {
        font-size: 1.555rem;
    }
    .header-search {
        font-size: 1rem;
        
    }
    .nav-list-text  {
        font-size: 1.4rem;
    }
    .nav-list {
        width: 100%;
    }
    .content-title ul {
        gap: 1.5rem;
    }
    .content-title ul li {
        font-size: 1rem;
    }
    .content__title-text {
        text-align: center ;
    }
    .container-content-right {
        display: none;
    }
    .footer-text-left {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .icon-social {
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
    }
    .footer .contact-social .contact-address-social {
        font-size: 1.2rem;
        text-align: center;
        padding-left: 1.2rem;
    }
    .contact-address > .footer-text-right{
        font-size: 1.6rem;
    }
    .contact-address-social {
        display: block !important;
        padding-right: 2.4rem;

    }
    .contact-address p {
        font-size: 1.5rem;

    }
} 
@media (max-width: 575.98px) { 
    .content__title-text {
        font-size: 1.4rem !important;
    }
    .content-title > h1 {
        font-size: 1.8rem;
    }
    .content-title ul li {
        font-size: 0.9rem !important;
    }
    .content-title ul {
        padding-top: 1rem !important;
    }
    .content-text-1 h2 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        max-width: 13rem;
        padding-right: 0;
    }

    .content-text-1 .content-text-1-info {
        font-size: 1rem !important;
        line-height: 1.2;
        max-width: 13rem;

    }
    .content-img-1 {
        width: 15rem !important;
        height: 12rem !important;
        object-fit: cover !important;
    }
    .xs-col {
        width: 50%;
        height: 50%;
    }
    .content-text-1 {
        width: 50%;
        height: 50%;
    }
    .container-content {
        padding: 0;
        border-right: none !important;
    }
    .col-8-mr {
        margin-top: 0 !important;
    }
    .icon-next-right {
        display: block;
        width: 2.3rem;
        height: 2rem;
    }
    .content-text-3 {
        padding-left: 1rem !important;
    }
    .content-text-3 h2 {
        font-size: 1.8rem;
    }
    .content-text-3 .content-text-3-info {
        font-size: 1.2rem;
        letter-spacing: normal;
        line-height: 1.2;
    }
    .content-2-btn {
        font-size: 1rem;
        padding-top: 1rem !important;

    }
    .content-img-3 {
        width: 12rem;
        height: 9rem;
    }
    .btn-5 {
        display: none;
    }
    .contact-address p {
        font-size: 1.2rem;
        max-width: 28rem;
    }
    .contact-address-social {
        font-size: 1.2rem;
    }
    

}   